# Web Scraping Assignment with Selenium

In [8]:
# importing the necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from time import sleep

In [3]:
# connecting to the web driver
#import undetected_chromedriver.v2 as uc
#driver = uc.Chrome()

def init_driver(url):
    chrome_options = Options()
    chrome_options.add_argument('--disable-blink-features=AutomationControlled')
    driver = webdriver.Chrome('chromedriver',options=chrome_options)
    driver.maximize_window()
    driver.get(url)
    return driver

# Question 1

In [3]:
# opening the naukri portal through web driver
url = "https://www.naukri.com/"
driver = init_driver(url)

# code to write Data Analyst on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Analyst")

# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [4]:
# extract all the job titles
job_titles = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
titles = []
for i in job_titles[:10]:
    titles.append(i.text)

# extract all the company names
job_companies = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
companies = []
for i in job_companies[:10]:
    companies.append(i.text)

# extract the years of experience needed
job_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp = []
for i in job_exp[:10]:
    exp.append(i.text)

# extract all the job locations including Bangalore and the others with it
job_locations = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
location = []
for i in job_locations[:10]:
    location.append(i.text)

# checking the length to get data frame
print("Lengths of columns:", len(titles), len(companies), len(exp), len(location))

# creating the dataframe now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Years of experience required']=exp
df['Job Locations']=location
df

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Lengths of columns: 10 10 10 10

,Job Title,Company Names,Years of experience required,Job Locations
0,SENIOR DATA ANALYST,McAfee Software (India) Pvt. Ltd,6-8 Yrs,Bangalore/Bengaluru
1,Tcs Hiring For Senior Data Analyst (bfsi domain),Tata Consultancy Services Ltd.,6-11 Yrs,"Chennai, Bangalore/Bengaluru"
2,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
3,Business Data Analyst,Trigent Software,5-10 Yrs,Bangalore/Bengaluru
4,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Tcs Hiring For MDM (master data management) Da...,Tata Consultancy Services Ltd.,6-11 Yrs,(WFH during Covid)
7,Senior Data Analyst IDAM Services,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,"Chennai, Bangalore/Bengaluru"
8,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs,Bangalore/Bengaluru
9,People Analytics - Data Analyst,Marvell India Pvt Ltd,3-5 Yrs,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."

# Question 2

In [5]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver =init_driver(url)

# code to write Data Scientist on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")

# code to write Bangalore in location box
search_loc = driver.find_element_by_xpath('//input[@name="location"]')
search_loc.send_keys("Bangalore")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [6]:
url = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

# extract all the job search links from the above search result
job_urls=[]
for i in url:
    job_urls.append(i.get_attribute('href'))

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [7]:
# extract all the job titles
titles = []
for i in job_urls:
    driver.get(i)
    try:
        job_titles = driver.find_element_by_xpath('//h1[@class="jd-header-title"]')
        titles.append(job_titles.text)
    except:
        pass

# extract all the company names
companies = []
for i in job_urls:
    driver.get(i)
    try:
        job_companies = driver.find_element_by_xpath('//a[@class="pad-rt-8"]')
        companies.append(job_companies.text)
    except:
        pass
        
# extract all the job locations including Bangalore and the others with it
location = []
for i in job_urls:
    driver.get(i)
    try:
        job_locations = driver.find_element_by_xpath('//span[@class="location "]//a')
        location.append(job_locations.text)
    except:
        pass
    
# extract the complete job description
description = []
for i in job_urls:
    driver.get(i)
    try:
        job_description = driver.find_element_by_xpath('//section[@class="job-desc"]')
        description.append(job_description.text.replace("\n"," "))
    except:
        pass

# checking the length for creating data frame
print("Lengths of columns:", len(titles), len(companies), len(location), len(description))

# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=titles
df['Company Names']=companies
df['Job Locations']=location
df['Job Description']=description
df

Lengths of columns: 15 15 15 15

,Job Title,Company Names,Job Locations,Job Description
0,Hiring For Data Scientist,Tata Consultancy Services Ltd.,Chennai,Job description Minumum 3 years of experience ...
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description Use predictive modeling to inc...
2,Data Scientist,IHS Markit,Bangalore/Bengaluru,Job description The Automotive Supply Chain ...
3,Data Scientist 3,Western Digital,Bangalore/Bengaluru,Job description Engage with Analytics Busine...
4,Data scientist,"Bloom Consulting Services, Inc.",United States (USA),Job description Mentor junior teammates in dev...
5,Data Scientist 4,Western Digital,Bangalore/Bengaluru,Job description The Data Engineer is responsib...
6,Senior Data Scientist,Walmart Labs,Bangalore/Bengaluru,Job description As a Senior Data Scientist for...
7,Senior Data Scientist,Airbnb,Bangalore/Bengaluru,Job description Responsibilities include: Defi...
8,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Job description Skills Required Skills: Data...
9,Senior Data Scientist IN4,Walmart Labs,Bangalore/Bengaluru,"Job description Design, coordinate, and implem..."
10,Senior Data Scientist (Marketplace),Walmart Labs,Bangalore/Bengaluru,Job description Position Responsibilities o So...
11,Hiring For Manager and Sr. Manager | Data Scie...,Vision Beyond Resources India Private Limited,Noida,"Job description Hello, We are hiring on behalf..."
12,Requirement For Data Scientist - Mumbai & Bang...,CRISIL LIMITED,Bangalore/Bengaluru,Job description CRISIL (formerly Credit Ratin...
13,Data Scientist (Python & SQL),AVE-Promagne,Hyderabad/Secunderabad,Job description Required Technical and Profess...
14,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,Bangalore/Bengaluru,Job description Job Description: Must have han...

# Question 3

In [6]:
# getting the naukri portal url on the web driver
url = "https://www.naukri.com/"
driver =init_driver(url)

# code to write Data Scientist on search box
search_job = driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="btn"]')
search_btn.click()

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [7]:
# code to click on the location filter for "Delhi/NCR"
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location_filter.click()

In [8]:
# code to click on the salary filter for "3-6 Lakhs"
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_filter.click()

In [9]:
# extract all the job titles
j_title = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
f_title = []
for i in j_title[:10]:
    f_title.append(i.text)

# extract all the company names
j_company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
f_company = []
for i in j_company[:10]:
    f_company.append(i.text)

# extract the years of experience needed
j_exp = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
f_exp = []
for i in j_exp[:10]:
    f_exp.append(i.text)

# extract all the job locations including Bangalore and the others with it
j_location = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
f_location = []
for i in j_location[:10]:
    f_location.append(i.text)

# checking the length for getting the data frame
print("Lengths of columns:", len(f_title), len(f_company), len(f_exp), len(f_location))

# creating the data frame now
df = pd.DataFrame({})
df['Job Title']=f_title
df['Company Names']=f_company
df['Years of experience required']=f_exp
df['Job Locations']=f_location
df

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Lengths of columns: 10 10 10 10

,Job Title,Company Names,Years of experience required,Job Locations
0,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Hyderabad/Secunderabad, Pune, Ahmedabad, Gurga..."
1,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,2-7 Yrs,"Noida, Gurgaon/Gurugram"
3,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
5,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
6,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
7,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,(WFH during Covid)
8,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,Gurgaon/Gurugram
9,Junior Data Scientists & Engineers,PY Consultancy,0-3 Yrs,(WFH during Covid)

# Question 4

In [34]:
email = 'negaj87158@shensufu.com'
password = 'Vizz@3164'

In [35]:
# getting the glassdoor job search portal url on the web driver
driver =init_driver('https://www.glassdoor.co.in/index.htm')

In [36]:
# click on sign in 
driver.find_elements_by_xpath('//button[contains(@class,"LockedHomeHeaderStyles__signInButton")]')[1].click()

In [37]:
# pasting email and password
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//input[@id="userEmail"]').send_keys(email)
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//input[@id="userPassword"]').send_keys(password)

# click on sing in 
driver.find_element_by_xpath('//form[@name="emailSignInForm"]//button[@type="submit"]').click()

In [38]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="sc.keyword"]')
search_job.send_keys("Data Scientist")

In [39]:
# code to write Noida in location box
search_loc = driver.find_element_by_xpath('//input[@id="sc.location"]')
search_loc.send_keys("Noida")

In [40]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="gd-ui-button ml-std col-auto search__SearchStyles__newSearchButton css-1dqvyh7"]')
search_btn.click()

In [41]:
# finding top 10 boxes 
all_box = driver.find_elements_by_xpath('//article[@id="MainCol"]//li')[:10]
    
final_data = []

# Ittrating over box to find details
for one_box in all_box:
    ago_posted = one_box.find_element_by_xpath('.//div[@data-test="job-age"]').text
    company_name = one_box.find_element_by_xpath('.//a[@data-test="job-link"]').text
    try:
        
        rating = one_box.find_element_by_xpath('.//span[contains(@class,"css-19pjha7")]').text 
    except:
        rating = ''
    
    
    final_data.append({
        'ago_posted':ago_posted,
        'company_name':company_name,
        'rating':rating,
    })
    
job_data = pd.DataFrame(final_data)
job_data

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:392: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

  ago_posted                         company_name rating
0       30d+                       Data Scientist
1       30d+              Product: Data Scientist
2       30d+  Data Scientist (BE/ B-tech 4-6 yrs)
3         5d             Associate Data Scientist
4         6d                       Data Scientist
5        12d                       Data Scientist
6         7d                Data Scientist Intern
7        10d                       Data Scientist
8         2d           Executive - Data Scientist
9         5d                       Data Scientist

# Question 5

In [42]:
# getting the glassdoor job search portal url on the web driver
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver =init_driver(url)

In [43]:
# code to write Data Scientist on skills search box
search_job = driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
search_job.send_keys("Data Scientist")

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [44]:
# code to write Noida in location box
search_loc = driver.find_element_by_xpath('//input[@id="LocationSearch"]')
search_loc.send_keys("Noida")

In [45]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
search_btn.click()

In [47]:
# code to get the minimum salary
min_sal = driver.find_elements_by_xpath('//div[@class="d-flex mt-xxsm css-79elbk epuxyqn0"]//p')
minsal=[]
for i in min_sal[:20]:
    minsal.append(i.text)
minisal=[]
for i in range(0, len(minsal), 2):
    minisal.append(minsal[i])

# code to get the maximum salary
maxisal=[]
for i in range(1, len(minsal), 2):
    maxisal.append(minsal[i])
    
# code to get the company names
com_name = driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
cname = []
for i in com_name[:10]:
    cname.append(i.text)

# code to get the average salary
avg_sal = driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3')
avgsal = []
for i in avg_sal[:10]:
    avgsal.append(i.text)
    
# code to get the rating of the company
com_rating = driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
crating = []
for i in com_rating[:10]:
    crating.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(minisal), len(maxisal), len(cname), len(avgsal), len(crating))

# creating the data frame now
df = pd.DataFrame({})
df['Minimum Salary']=minisal
df['Maximum Salary']=maxisal
df['Company Name']=cname
df['Average Salary']=avgsal
df['Company Rating']=crating
df

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Lengths of columns: 10 10 10 10 10

,Minimum Salary,Maximum Salary,Company Name,Average Salary,Company Rating
0,₹4L,₹13L,Tata Consultancy Services,"₹6,28,021",3.9
1,₹1L,₹28L,IBM,"₹9,08,246",3.9
2,₹6L,₹23L,Accenture,"₹11,93,390",4.1
3,₹5L,₹1Cr,Delhivery,"₹12,49,716",3.7
4,₹4L,₹17L,Ericsson-Worldwide,"₹7,58,335",4
5,₹8L,₹16L,UnitedHealth Group,"₹12,80,000",3.7
6,₹8L,₹20L,Optum,"₹12,70,000",3.7
7,₹10L,₹18L,Optum Global Solutions,"₹14,55,430",3.9
8,₹5L,₹15L,Valiance Solutions,"₹8,86,064",4.2
9,₹6L,₹16L,EXL Service,"₹11,10,000",3.6

# Question 6

In [12]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver =init_driver(url)

In [13]:
# code to write sunglasses in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sunglasses")

In [14]:
# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [15]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brand = []
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
descriptn = []
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
price = []
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
discount = []
for i in prod_discount:
    discount.append(i.text)

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [16]:
# code to click on the next button for page 2
search_btn1 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_btn1.click()

In [17]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.appendend("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)

In [18]:
# code to click on the next button for page 3
search_btn2 = driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_btn2.click()

In [19]:
# code to extract brand details
prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
for i in prod_brand:
    brand.append(i.text)

# code to extract product description
prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
for i in prod_descriptn:
    try:
        descriptn.append(i.text)
    except:
        descriptn.append("No description available")

# code to extract price of the product
prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in prod_price:
    price.append(i.text)

# code to extract the discount percentage
prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
for i in prod_discount:
    discount.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sunglasses Brand']=brand[:100]
df['Sunglasses Description']=descriptn[:100]
df['Sunglasses Price']=price[:100]
df['Sunglasses Discount']=discount[:100]
df

Lengths of columns: 120 120 120 120

,Sunglasses Brand,Sunglasses Description,Sunglasses Price,Sunglasses Discount
0,Singco India,"UV Protection, Riding Glasses, Others Aviator,...",₹225,67% off
1,AISLIN,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹525,65% off
2,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
...,...,...,...,...
95,NuVew,UV Protection Cat-eye Sunglasses (60),₹425,70% off
96,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
97,Ray-Ban,UV Protection Aviator Sunglasses (55),"₹5,390",27% off
98,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹569,71% off
99,AISLIN,"Toughened Glass Lens, UV Protection Rectangula...","₹1,025",72% off

# Question 7

In [20]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver =init_driver(url)

In [21]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the job search links from the above search result
prod_urls=[]
for i in url[:11]:
    prod_urls.append(i.get_attribute('href'))

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [22]:
# extract all the ratings for the iPhone
phone_rating = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_rating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for j in prod_rating:
            phone_rating.append(j.text)
    except:
        phone_rating.append("---")

# extract all the review summary for the iPhone
phone_summary = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_summaries = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for j in prod_summaries:
            phone_summary.append(j.text)
    except:
        phone_summary.append("---")

# extract all the complete descriptive review for the iPhone
full_review = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_reviews = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for j in prod_reviews:
            full_review.append(j.text.replace("\n"," "))
    except:
        full_review.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(phone_rating), len(phone_summary), len(full_review))

# creating the data frame now
df = pd.DataFrame({})
df['iPhone Rating']=phone_rating[:100]
df['iPhone Short Summary']=phone_summary[:100]
df['iPhone Full Review']=full_review[:100]
df

Lengths of columns: 108 110 100

,iPhone Rating,iPhone Short Summary,iPhone Full Review
0,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Just wow!,Best budget Iphone till date ❤️ go for it guys...
96,3,Terrific purchase,Iphone is just awesome.. battery backup is ver...
97,5,Awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Decent product,It’s been almost a month since I have been usi...
99,5,Awesome,Really worth of money. i just love it. It is t...

# Question 8

In [ ]:
# getting the flipkart shopping site url on the web driver
url = "https://www.flipkart.com/"
driver =init_driver(url)

# code to write sneakers in the search box
search_prod = driver.find_element_by_xpath('//input[@class="_3704LK"]')
search_prod.send_keys("Sneakers")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn.click()

In [28]:
url = driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')

# extract all the product search links from the above search result
prod_urls=[]
for i in url[:5]:
    prod_urls.append(i.get_attribute('href'))

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [29]:
# code to extract brand details
brand = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for j in prod_brand:
            brand.append(j.text)
    except:
        brand.append("---")

# code to extract product description
descriptn = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_descriptn = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
        for j in prod_descriptn:
            descriptn.append(j.text)
    except:
        descriptn.append("---")

# code to extract price of the product
price = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_price = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for j in prod_price:
            price.append(j.text)
    except:
        price.append("---")

# code to extract the discount percentage
discount = []
for i in prod_urls:
    driver.get(i)
    try:
        prod_discount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]//span')
        for j in prod_discount:
            discount.append(j.text)
    except:
        discount.append("---")

# checking the length to get the data frame
print("Lengths of columns:", len(brand), len(descriptn), len(price), len(discount))

# creating the data frame now
df = pd.DataFrame({})
df['Sneaker Brand']=brand[:100]
df['Sneaker Description']=descriptn[:100]
df['Sneaker Price']=price[:100]
df['Sneaker Discount']=discount[:100]
df

Lengths of columns: 200 169 200 200

,Sneaker Brand,Sneaker Description,Sneaker Price,Sneaker Discount
0,Echor,Men's Sneakers Walking Shoes - Lightweight Cla...,₹399,60% off
1,pollachief,Casual Sneaker for Men Sneakers For Men,₹421,57% off
2,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹536,66% off
3,Magnolia,Sneakers For Men,₹356,64% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹474,86% off
...,...,...,...,...
95,Vigglo Fashion,Luxury Fashionable Breathable Casual Sneakers ...,₹390,69% off
96,KANEGGYE,Hip Hop Mid Perf IDP Sneakers For Men,₹369,26% off
97,Zsyto,Stylish & Comfort Combo Pack of 02 Pair Shoes ...,₹398,69% off
98,PUMA,luxury fashionable casual shoes Sneakers For Men,"₹1,900",49% off
99,ASTEROID,Droge IDP Sneakers For Men,₹499,50% off

# Question 9

In [30]:
# getting the myntra shoes site url on the web driver
url = "https://www.myntra.com/shoes"
driver =init_driver(url)

In [31]:
# code to click on the color filter for "Black"
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:483: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [32]:
# code to click on the price filter for "Rs. 5387 to Rs. 10525" as “Rs. 6649 to Rs. 13099” is not available
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [33]:
url = driver.find_elements_by_xpath('//li[@class="pagination-number"]//a')

# extract all the shoe links from the above search result
shoe_urls=[]
for i in url[:5]:
    shoe_urls.append(i.get_attribute('href'))

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

In [34]:
# code to extract shoe brand details
sbrand = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_brand = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h3')
        for j in shoe_brand:
            sbrand.append(j.text)
    except:
        sbrand.append("---")

# code to extract shoe description
sdescriptn = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_descriptn = driver.find_elements_by_xpath('//div[@class="product-productMetaInfo"]//h4')
        for j in shoe_descriptn:
            sdescriptn.append(j.text)
    except:
        sdescriptn.append("---")
description=[]
for i in range(0, len(sdescriptn), 2):
    description.append(sdescriptn[i])

# code to extract shoe price
sprice = []
for i in shoe_urls:
    driver.get(i)
    try:
        shoe_price = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
        for j in shoe_price:
            sprice.append(j.text)
    except:
        sprice.append("---")
        
# checking the length to get the data frame
print("Lengths of columns:", len(sbrand), len(description), len(sprice))

# creating the data frame now
df = pd.DataFrame({})
df['Shoe Brand']=sbrand[:100]
df['Shoe Description']=description[:100]
df['Shoe Price']=sprice[:100]
df

Lengths of columns: 250 250 199

      Shoe Brand               Shoe Description Shoe Price
0   LONDON STEPS   Women Quilted Open Toe Flats    Rs. 949
1    Birkenstock               Women Ballerinas   Rs. 1999
2       Roadster                                  Rs. 1299
3        ZAPATOZ           Ballerinas with Bows    Rs. 319
4           Bata      Women Embellished Mojaris   Rs. 2096
..           ...                            ...        ...
95   Allen Solly      Women Textured Ballerinas   Rs. 1399
96      Roadster           Women Open Toe Flats    Rs. 949
97        DChica      Women Textured Ballerinas    Rs. 899
98   Allen Solly               Women Ballerinas   Rs. 1299
99    DressBerry  Women Sequinned One Toe Flats    Rs. 599

[100 rows x 3 columns]

# Question 10

In [9]:
# getting the amazon shopping site url on the web driver
url = "https://www.amazon.in/"
driver =init_driver(url)

In [10]:
# code to write laptop in the search box
search_prod = driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]')
search_prod.send_keys("Laptop")

# code to click on the search button
search_btn = driver.find_element_by_xpath('//input[@id="nav-search-submit-button"]')
search_btn.click()

In [11]:
# Code to filter Intel core i7
driver.find_element_by_xpath('//li[@aria-label="Intel Core i7"]/span').click()

sleep(5)
# Code to filter Intel core i9
driver.find_element_by_xpath('//li[@aria-label="Intel Core i9"]/span').click()

In [12]:
# code to extract laptop title
ltitle=[]
lappy_title = driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in lappy_title[:10]:
    ltitle.append(i.text)

# code to extract laptop rating
lrating=[]
lappy_rating = driver.find_elements_by_class_name("a-icon-alt")
for i in lappy_rating[:10]:
    lrating.append(i.get_attribute('textContent'))

# code to extract laptop price
lprice=[]
lappy_price = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
for i in lappy_price[:10]:
    lprice.append(i.text)
    
# checking the length to get the data frame
print("Lengths of columns:", len(ltitle), len(lrating), len(lprice))

# creating the data frame now
df = pd.DataFrame({})
df['Laptop Title']=ltitle
df['Laptop Rating']=lrating
df['Laptop Price']=lprice
df

C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:502: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")
C:\Users\visshell\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:702: UserWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  warnings.warn("find_elements_by_* commands are deprecated. Please use find_elements() instead")

Lengths of columns: 10 10 10

,Laptop Title,Laptop Rating,Laptop Price
0,HP Envy 11th Gen Core i7 Processor 13.3-inch (...,4.1 out of 5 stars,"1,23,350"
1,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5 stars,"57,990"
2,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,4.3 out of 5 stars,"77,990"
3,"ASUS ROG G703GI-E5148T 17.3"" (43.94 cms) FHD 1...",3.7 out of 5 stars,"5,56,524"
4,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,5.0 out of 5 stars,"92,990"
5,Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....,4.1 out of 5 stars,"1,07,990"
6,"MSI GF75 Thin, Intel i7-10750H, 17.3"" (43.9 cm...",4.0 out of 5 stars,"74,990"
7,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.1 out of 5 stars,"98,500"
8,"ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...",4.4 out of 5 stars,"1,13,990"
9,Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...,4.2 out of 5 stars,"73,990"